<#import "/templates/base.ftl" as page />
<#import "/freemarker/zsio.ftl" as zsio />
<@page.layout "database">
<div class="awidget full-width">
<#--    <div class="awidget-head">
<h3>
    </div>-->
    <div class="awidget-body">
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <hr/>
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">install basic</button>
                </div>
            </div>
        </form>
    </div>
</div>
</@page.layout>