<#import "/templates/base.ftl" as page />
<@page.layout "zsio.subjectcard.list">


<div class="awidget full-width">
    <div class="awidget-head">
        <div class="btn-group">
            <a href="${rc.contextPath}/subjectcard/create.html"
               class="btn btn-primary"><@spring.message 'zsio.create' /></a>
        <#--<button class="btn btn-success">Center</button>-->
        <#--<button class="btn btn-primary">Right</button>-->
        </div>
    </div>
    <div class="awidget-body">
        <table class="table admin-media table-hover">
            <thead>
            <tr>
                <th>
                    <input type='checkbox' value='check1'/>
                </th>
                <th><@spring.message 'zsio.name.label'/></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                <#list elements as element>
                    <#assign rowClass="" />
                <tr class="${rowClass}">
                    <td>
                        <input type='checkbox' value='check[]'/>
                    </td>
                    <td>${element.data.name}</td>
                    <td>
                        <div class="hidden-table-cell">
                            <#list element.webActions as action>
                                <#if action.requireConfirmation>
                                    <a href="#removeSubjectModal" class="btn btn-xs ${action.buttonStyle}"
                                       data-toggle="modal" rel="tooltip" data-placement="bottom"
                                       title="<@spring.message action.tooltip />"
                                       onclick="updateModal('${rc.contextPath}${action.actionUrl}','<@spring.message action.confirmationText />');"><i
                                            class="fa ${action.iconName}"></i></a>
                                <#else>
                                    <a href="${rc.contextPath}${action.actionUrl}" class="btn btn-xs ${action.buttonStyle}"
                                       data-toggle="tooltip" data-placement="bottom"
                                       title="<@spring.message action.tooltip />"><i class="fa ${action.iconName}"></i></a>
                                </#if>
                            </#list>
                        </div>
                    </td>
                </tr>
                </#list>
            </tbody>
        </table>
    </div>

</div>
<#--okna potwierdzenia-->
<script>
    var updateModal = function (url, msg) {
        jQuery("#modalUrl").attr("href", url);
        jQuery("#modalMsg").html(msg);
    }
</script>
<#--modal usuwania firmy-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade"
     id="removeSubjectModal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title"><@spring.message 'zsio.modal.confirmation.header' /></h4>
            </div>
            <div class="modal-body">
                <p id="modalMsg">???</p>
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" class="btn btn-default"
                        type="button"><@spring.message 'zsio.close' /></button>
                <a id="modalUrl" href="${rc.contextPath}" class="btn btn-danger"
                   type="button"><@spring.message 'zsio.remove' /></a>
            </div>
        </div>
    </div>
</div>
</@page.layout>